.Sidebar{
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #141414;
  padding: 25px 15px;
  transition: width 0.3s ease;
  border: 2px solid rgb(182, 172, 172);
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}
  .Sidebar.extended {
  width: 300px; }
.Sidebar img{
  width: 20px;
}
 .menu{
  display: block;
  margin-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background-color: #d4d6d8;
}
 .menu:hover {
  transform: rotate(90deg);
}
 .new-chat{
  margin-top: 50px;
  display: inline-flex;
  border-radius: 50px;
  background-color: #d4d6d8;
  color: #1b1b1b;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}
  .new-chat:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
 .recent{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  animation: fadeIn 0.5s ease;
}
 .recent-title{
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  margin-bottom: 10px;

} .recent-entry{
  display: flex;
  align-items: start;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  color: #94949b;
  cursor: pointer;
  padding-right: 40px;

}
.recent-entry:hover{
  background-color: rgba(255, 255, 255, 0.438);
  border-radius: 5px;
}
.bottom{
  display: flex;
  flex-direction: column;
}
.bottom-item{
  cursor: pointer;
  padding-right: 10px;
  transition: background-color 0.3s ease;
}
.bottom-item:hover {
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 5px;
}









